.overflower {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    flex-wrap: wrap;
  }
  .overflower_orientation_horizontal {
    flex-direction: row;
  }
  .overflower_orientation_horizontal > .overflower__short {
    height: 100%;
    flex-grow: 1;
    width: 0;
    overflow: hidden;
  }
  .overflower_orientation_horizontal > .overflower__long {
    height: 100%;
    min-width: 100%;
  }
  @supports (flex-basis: 100%) {
    .overflower_orientation_horizontal > .overflower__long {
      flex-basis: 100%;
      min-width: auto;
    }
  }
  .overflower_orientation_vertical {
    flex-direction: column;
  }
  .overflower_orientation_vertical > .overflower__short {
    width: 100%;
    flex-grow: 1;
    height: 0;
    overflow: hidden;
  }
  .overflower_orientation_vertical > .overflower__long {
    width: 100%;
    min-height: 100%;
  }
  @supports (flex-basis: 100%) {
    .overflower_orientation_vertical > .overflower__long {
      flex-basis: 100%;
      min-height: auto;
    }
  }
  